.contenedor-administracion {
    
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-content-administracion{
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 75px;
    color: #fff;
    font-family: Poppins;
}

@media all and (min-width: 450px) and (max-width: 899px) { 
    .header-content-administracion{
        padding-top: 150px;
        padding-bottom: 250px;
        font-size: 50px;
        color: #fff;
        font-family: Poppins;
    }
 }

@media all and (min-width: 120px) and (max-width: 450px) { 
    .header-content-administracion{
        padding-top: 150px;
        padding-bottom: 250px;
        font-size: 35px;
        color: #fff;
        font-family: Poppins;
    }
 }