.contenedor-facturas {
    
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.header-content-facturas{
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 75px;
    color: #fff;
    font-family: Poppins;
}

@media all and (min-width: 699px) and (max-width: 899px) { 
    .header-content-facturas{
        padding-top: 150px;
        padding-bottom: 150px;
        font-size: 50px;
        color: #fff;
        font-family: Poppins;
    }
 }

 @media all and (min-width: 700px) and (max-width: 769px) { 
    .header-content-facturas{
        padding-top: 150px;
        padding-bottom: 350px;
        font-size: 50px;
        color: #fff;
        font-family: Poppins;
    }
 }

@media all and (min-width: 120px) and (max-width: 699px) { 
    .header-content-facturas{
        padding-top: 150px;
        padding-bottom: 350px;
        font-size: 40px;
        color: #fff;
        font-family: Poppins;
    }
 }
