.contenedor-permisos {
    
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.header-content-permisos{
    padding-top: 150px;
    padding-bottom: 100px;
    font-size: 75px;
    color: #fff;
    font-family: Poppins;
}

@media all and (min-width: 1121px) and (max-width: 1161px) { 
    .header-content-permisos{
        font-size: 45px;
    }
 }

@media all and (min-width: 899px) and (max-width: 1121px) { 
    .header-content-permisos{
        padding-top: 150px;
        padding-bottom: 100px;
        font-size: 45px;
        color: #fff;
        font-family: Poppins;
    }
 }

 @media all and (min-width: 768px) and (max-width: 899px) { 
    .header-content-permisos{
        padding-top: 150px;
        padding-bottom: 250px;
        font-size: 45px;
        color: #fff;
        font-family: Poppins;
    }
 }

 @media all and (min-width: 351px) and (max-width: 768px) { 
    .header-content-permisos{
        padding-top: 150px;
        padding-bottom: 600px;
        font-size:30px;
        color: #fff;
        font-family: Poppins;
    }
 }

 @media all and (min-width: 120px) and (max-width: 350px) { 
    .header-content-permisos{
        padding-top: 150px;
        padding-bottom: 700px;
        font-size:30px;
        color: #fff;
        font-family: Poppins;
    }
 }
