.contenedor-compras {
    
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-content-compras{
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 75px;
    color: #fff;
    font-family: Poppins;
}

@media all and (min-width: 450px) and (max-width: 1199px) { 
    .header-content-compras{
        padding-top: 150px;
        padding-bottom: 350px;
        font-size: 50px;
        color: #fff;
        font-family: Poppins;
    }
 }

@media all and (min-width: 320px) and (max-width: 450px) { 
    .header-content-compras{
        padding-top: 150px;
        padding-bottom: 350px;
        font-size: 50px;
        color: #fff;
        font-family: Poppins;
    }
 }